

.jumbotron{
	min-height: 100vh;
	padding-bottom: 50px;
	position: relative;

	.footer-to-bottom{
		position: absolute;
		bottom: 0;
		width: 100%;
		min-height: 50px;
	}

}


.global-container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.15rem;
  padding-right: 0.15rem;

	@media (max-width: $grid-tablet-breakpoint - 1) {
		padding-left: 0.05rem;
  	padding-right: 0.05rem;
	}

}

//---------------------------------

.main-body{
	max-width: 960px;
	margin: auto;
}

//---------------------------------

.global-nav{
	color: #fff;
	background-color: #1F703C;
	/*margin-top: 0.10rem;*/
	margin-bottom: 0.10rem;
	overflow: hidden;

	.nav-list{
		
		text-align: center;
		margin-left: -0.05rem;

		.nav-item{
			display: inline-block;
		}

		.nav-link{
			display: inline-block;
			margin-left: 0.05rem;
			padding: 0.10rem 0.20rem;
			text-decoration: none;
			color: inherit;
			cursor: pointer;

			@media (max-width: $grid-tablet-breakpoint - 1) {

					margin-left: 0;
					padding: 0.10rem 0.10rem;
				
			}

			&:hover{ background-color: rgba(27, 100, 53, 0.7); }
			&.on{ background-color: rgba(175, 206, 0, 0.8); }

		}

	}

}





//---------------------------------

.global-header{
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  padding: 0.12rem;


	.header-title{
		font-size: 0.42rem;
		padding: 0.10rem 0;
		margin: 0 auto;
		a{
			text-decoration: none;
		}
	}

	// search
	.header-search{
		width: 100%;
		max-width: 8.00rem;
		min-width: 5.00rem;
		margin: 0.20rem auto 0.30rem;
		position: relative;

		@media (max-width: $grid-tablet-breakpoint - 1) {

			min-width: 3.00rem;
				
		}

		.form-field{
			padding-right: 0.36rem;
			padding-left: 0.08rem;
			min-height: 0.36rem;
			background-color: #f3f3f3;
		}

		.button-link{
			position: absolute;
			top: 50%;
			right: 0;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			padding: 0 0.05rem;
	    border: none;
	    background: none;
		}

		[data-svg-icon]{
			color: #848484;
    	fill: #a3a3a3;
    	transition: 80ms ease-out;
		}
		
	}

}

//---------------------------------

.global-footer{
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0.12rem;
  color: #999;
}
